version: '3.8'

services:
  db:
    image: postgres:15
    container_name: postgres_fdpen
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: fdpen
      POSTGRES_PASSWORD: fdpen123
      POSTGRES_DB: fdpen_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  backend:
    build: .
    container_name: backend_fdpen
    expose:
      - "8000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./media:/app/media
    restart: unless-stopped

  caddy:
    image: caddy:2-alpine
    container_name: caddy_server
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend

volumes:
  postgres_data:
  caddy_data:
  caddy_config:
